.avatar {
  border-radius: 999px;
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-left: -4px;

  &:first-child {
    margin-left: 0;
  }
}
